$bg-color: #151515;
$text-color: #ddd;

// The original colors from gelbooru
$tag-artist-color: #a00;
$tag-character-color: #0a0;
$tag-copyright-color: #a0a;
$tag-general-color: #337ab7;
$tag-metadata-color: #f80;
