@import "normalize.css";

$bg-color: #151515;
$text-color: #ddd;

// The original colors from gelbooru
$tag-artist-color: #a00;
$tag-character-color: #0a0;
$tag-copyright-color: #a0a;
$tag-general-color: #337ab7;
$tag-metadata-color: #f80;

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: sans-serif;
}

.color-gray {
    color: #666;
}

.image-container {
    line-height: 0;
    margin-bottom: 20px;

    &,
    .image,
    img {
        max-width: 100%;
    }

    &:hover .image-overlay {
        opacity: 1;
    }

    .image {
        position: relative;
    }

    .image-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: rgba(#000, 0.8);
        line-height: 1.5;
        opacity: 0;

        transition: opacity 0.3s;
    }

    .image-placeholder {
        background-color: #aaa;
        width: 800px;
        height: 1200px;
        border-radius: 10px;
    }

    @media (max-width: 640px) {
        .image-overlay {
            // TODO: Handle image overlays gracefully on mobile
            display: none;
        }
    }
}

.scroll-container {
    padding-top: 20px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.suggestion-list {
}

.suggestion {
    padding: 5px 10px;
    line-height: 1.5em;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .artist {
        color: adjust-color(
            $tag-artist-color,
            $saturation: -10%,
            $lightness: 30%
        );
    }

    .character {
        color: adjust-color(
            $tag-character-color,
            $saturation: -20%,
            $lightness: 10%
        );
    }

    .copyright {
        color: adjust-color(
            $tag-copyright-color,
            $saturation: -20%,
            $lightness: 30%
        );
    }

    .general {
        color: adjust-color($tag-general-color, $lightness: 10%);
    }

    .metadata {
        color: adjust-color($tag-metadata-color, $lightness: 10%);
    }
}
