.post-container {
    line-height: 0;
    margin-bottom: 20px;

    &,
    .post,
    img {
        max-width: 100%;
    }

    &:hover .post-overlay {
        opacity: 1;
    }

    .post {
        position: relative;
    }

    .post-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: rgba(#000, 0.8);
        line-height: 1.5;
        opacity: 0;

        transition: opacity 0.3s;
    }

    .post-placeholder {
        background-color: #aaa;
        width: 800px;
        height: 1200px;
        border-radius: 10px;
    }

    @media (max-width: 640px) {
        .post-overlay {
            // TODO: Handle overlays gracefully on mobile
            display: none;
        }
    }
}
